html {
	font-size: 1.125rem; /* tailwind .text-lg */
}

h1,
h2,
h3 {
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 2.25rem; /* tailwind .text-4xl */
}

h2 {
	font-size: 1.875rem; /* tailwind .text-3xl */
}

h3 {
	font-size: 1.5rem; /* tailwind .text-2xl */
}

.content a,
.content a:link {
	color: blue;
}

.content a:hover {
	text-decoration: underline;
}

header,
main,
section,
footer {
	padding: 1.5rem; /* tailwind .p-6 */
}

section.no-padding {
	padding: 0;
}

footer {
	text-align: center;
}

section {
	min-height: 200px;
	background-color: #bbbbbb;
}

section:nth-child(even) {
	background-color: #dddddd;
}

.content ul {
	list-style-type: disc;
	padding-left: 1.25rem;
}

.content table {
	margin: 1rem 0;
	border: 1px solid black;
}

.content table thead {
	background-color: #333333;
	color: white;
}

.content table tr:not(:first-child) {
	border-top: 1px solid black;
}

* + ul {
	margin: 1rem 0;
}

.create-deck,
.view-deck {
	background-color: #bbbbbb;
}

.create-deck-inner,
.view-deck-inner {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

form {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
}

form input[type='text'],
form input[type='email'],
form input[type='password'],
form input[type='submit'],
form textarea {
	margin-top: 0.5rem;
	padding: 0.5rem;
	display: block;
	border: 1px solid gray;
}

hr {
	margin: 1.5rem 0;
}

div.content p:not(:first-child) {
	margin-top: 1rem;
}

.flex {
	display: flex;
	flex-direction: column;
}

.flex > * {
	flex: 1;
	margin-top: 1rem;
}

@media screen and (min-width: 768px) {
	.flex {
		flex-direction: row;
	}

	.flex > * {
		margin-top: 0;
	}

	.flex > *:not(:first-child) {
		margin-left: 1rem;
	}
}

/* Buttons */
button {
	display: block;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: 200ms all ease-out;
	/* cubic-bezier(0, 0, 0.2, 1); */
}

button:not(:last-child) {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

button.primary {
	background-color: #007bff;
	color: white;
}

button.primary:hover {
	background-color: #0069d9;
}

button.success {
	background-color: #48c774;
	color: white;
}

button.success:hover {
	background-color: #3ec46d;
}
