@media screen and (min-width: 1024px) {
	.create-deck .inner {
		display: flex;
	}

	.create-deck .inner section:first-child {
		width: 60%;
		margin-right: 2rem;
	}

	.create-deck .inner section:nth-child(2) {
		width: 40%;
	}
}

#cardSearchResults {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.card__result {
	width: 150px;
}

#cardSearchResults img {
	margin: 0 1rem 1rem 0;
	transform: scale(1);
	transition: 100ms all cubic-bezier(0, 0, 0.2, 1);
}

#cardSearchResults img:hover,
#cardSearchResults img:focus {
	transform: scale(1.2);
}

.deckClass-radios,
.deckClass-radios > div {
	display: flex;
	align-items: center;
}

.deckClass-radios {
	flex-wrap: wrap;
}

.deckClass-radios label {
	margin-left: 0.5rem;
}

.deckClass-radios > div {
	margin-right: 1rem;
}

/* HIDE RADIO */
[type='radio'] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
	cursor: pointer;
	opacity: 0.3;
	border-radius: 9999px;
	padding: 0.5rem;
	transition: 200ms opacity ease;
	border: 3px solid transparent;
}

[type='radio']:focus + img {
	outline: 0;
	box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

/* CHECKED STYLES */
[type='radio']:checked + img {
	opacity: 1;
}

img.class-portrait {
	border-radius: 9999px;
}

form#createDeck {
	display: block;
}
